@{
    ViewBag.Title = "ERROR";
}

<h1>Error</h1>
<h2>Posibles errores al ingresar datos</h2>
<ul>
    <li>Verifique que los datos ingresados sean correctos</li>
    <li>No se permiten datos vacios</li>
    <li>Formato incorrecto de datos ingresados</li>
</ul>

